/* Custom resets
   ----------------------------- */
* {
  margin: 0;
  padding: 0;
}


/* Global rules
   ----------------------------- */
body {
  background: url(images/bg.png) no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-family: 'proxima-nova', sans-serif;
}

header {
  margin: 70px 0 50px 0;
}

.logo {
  width: 275px;
  height: 142px;
}

.heading {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  max-width: 400px;
  margin: auto;
}
.heading:after {
  content: '';
  width: 35px;
  height: 4px;
  background: #FFFFFF;
  display: block;
  margin: 35px auto;
}

.address {
  margin-bottom: 50px;
}

label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
}

input {
  width: 300px;
  height: 45px;
  line-height: 45px;
  /*border: 1px solid #D1D1D1;*/
  border: none;
  box-sizing: border-box;
  color: #000000;
  padding: 0 15px;
  outline: none;
}

button {
  background: #EF2F46;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  background: #CC2439;
}

.combined {
  max-width: 420px;
  margin: auto;
}

.combined *:not(:first-child) {
  margin-left: -5px;
}

a {
  text-decoration: none;
  color: #C4C4C4;
}
a:hover {
  color: #FFFFFF;
}

.footer {
  list-style-type: none;
  margin: 120px 0 30px 0;
}
.footer li {
  display: inline-block;
}
.footer li:not(:last-child):after {
  content: '';
  display: inline-block;
  margin: 0 25px;
  background: #808080;
  width: 1px;
  height: 20px;
  vertical-align: middle;
}


/* Font
   ----------------------------- */
@font-face {
    font-family: 'proxima-nova';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima-nova') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-semibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima-nova-semibold') format('svg');
    font-weight: 500;
    font-style: normal;
}
